# Ignore frontend stuff (handled by Vercel)
frontend/
node_modules/
frontend/node_modules/

# Ignore virtual env
venv/
.env

# Ignore git
.git/
.gitignore

# Ignore build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.spec

# Ignore local DBs (Optional: keep if you want to seed, but usually bad for Docker)
# users.db
# server_data*.json

# Ignore IDE files
.vscode/
.idea/
